* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

div#headerResultText{
    font: 25px Arial;
    color: rgb(80, 80, 248);
    font-weight: 500;
}

div#dateResultText{
    color: rgb(61, 61, 61);
    font: 12px Arial;
}

div#numberSecondsResultText{
    color: rgb(61, 61, 61);
    font: 15px Arial;
}
div#numberSecondsResultText{
    color: rgb(129, 129, 129);
    font: 15px Arial;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #e7e7e7;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #615b5b;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}